[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pillow = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-rest-swagger = "*"
drf-yasg = "*"

[dev-packages]
model-bakery = "*"

[requires]
python_version = "3.11"
